### Assn Week 3

In [4]:
import pyspark as ps
import pyspark.sql.functions as func
from pyspark.sql.types import *
from pyspark.ml.feature import Bucketizer

Make sure spark and sql context exist

In [6]:
sc

In [7]:
sqlContext

Load data from Sqoop command ran earlier

In [8]:
transactions = sqlContext.read.parquet("hdfs://sandbox.hortonworks.com:8020/tmp/transactions_denormalized")

In [9]:
transactions.show()

+-------------+-----------+---+----------+--------+-----------+--------+-----------------+-----------+-----------+----------+-------+--------+-------------------+-----------+--------------+-------------+-------------------+-----------------+------------+--------------------+--------------------+------------+--------+--------------------+
|HOUSEHOLD_KEY|  BASKET_ID|DAY|PRODUCT_ID|QUANTITY|SALES_VALUE|STORE_ID|COUPON_MATCH_DISC|COUPON_DISC|RETAIL_DISC|TRANS_TIME|WEEK_NO|AGE_DESC|MARITAL_STATUS_CODE|INCOME_DESC|HOMEOWNER_DESC| HH_COMP_DESC|HOUSEHOLD_SIZE_DESC|KID_CATEGORY_DESC|  DEPARTMENT|      COMMODITY_DESC|  SUB_COMMODITY_DESC|MANUFACTURER|   BRAND|CURR_SIZE_OF_PRODUCT|
+-------------+-----------+---+----------+--------+-----------+--------+-----------------+-----------+-----------+----------+-------+--------+-------------------+-----------+--------------+-------------+-------------------+-----------------+------------+--------------------+--------------------+------------+--------+--------------------+
|         2375|26984851472|  1|   1004906|       1|       1.39|     364|              0.0|        0.0|       -0.6|      1631|      1|    null|               null|       null|          null|         null|               null|             null|     PRODUCE|            POTATOES|POTATOES RUSSET (...|          69| Private|                5 LB|
|         2375|26984851472|  1|   1033142|       1|       0.82|     364|              0.0|        0.0|        0.0|      1631|      1|    null|               null|       null|          null|         null|               null|             null|     PRODUCE|              ONIONS|ONIONS SWEET (BUL...|           2|National|               40 LB|
|         2375|26984851472|  1|   1036325|       1|       0.99|     364|              0.0|        0.0|       -0.3|      1631|      1|    null|               null|       null|          null|         null|               null|             null|     PRODUCE|VEGETABLES - ALL ...|              CELERY|          69| Private|                    |
|         2375|26984851472|  1|   1082185|       1|       1.21|     364|              0.0|        0.0|        0.0|      1631|      1|    null|               null|       null|          null|         null|               null|             null|     PRODUCE|      TROPICAL FRUIT|             BANANAS|           2|National|               40 LB|
|         2375|26984851472|  1|   8160430|       1|        1.5|     364|              0.0|        0.0|      -0.39|      1631|      1|    null|               null|       null|          null|         null|               null|             null|     PRODUCE|ORGANICS FRUIT & ...|     ORGANIC CARROTS|          69| Private|                1 LB|
|         2375|26984851516|  1|    826249|       2|       1.98|     364|              0.0|        0.0|       -0.6|      1642|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|BAKED BREAD/BUNS/...|      HAMBURGER BUNS|          69| Private|               12 OZ|
|         2375|26984851516|  1|   1043142|       1|       1.57|     364|              0.0|        0.0|      -0.68|      1642|      1|    null|               null|       null|          null|         null|               null|             null|     DRUG GM|     BROOMS AND MOPS|SPONGES: BATH HOU...|         321|National|                    |
|         2375|26984851516|  1|   1085983|       1|       2.99|     364|              0.0|        0.0|       -0.4|      1642|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|       COOKIES/CONES|TRAY PACK/CHOC CH...|         586|National|               18 OZ|
|         2375|26984851516|  1|   1102651|       1|       1.89|     364|              0.0|        0.0|        0.0|      1642|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|  PNT BTR/JELLY/JAMS|       PEANUT BUTTER|        1266|National|               12 OZ|
|         2375|26984851516|  1|   6423775|       1|        2.0|     364|              0.0|        0.0|      -0.79|      1642|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|       COOKIES/CONES|     GRAHAM CRACKERS|         586|National|               11 OZ|
|         2375|26984851516|  1|   9487839|       1|        2.0|     364|              0.0|        0.0|      -0.79|      1642|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|       COOKIES/CONES|     GRAHAM CRACKERS|         586|National|               11 OZ|
|         2052|26985246477|  1|    850834|       1|       1.91|     400|              0.0|        0.0|      -1.28|      1445|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|FRZN MEAT/MEAT DI...|FRZN SS PREMIUM E...|        1230|National|            11.75 OZ|
|         2052|26985246477|  1|    893811|       1|       1.91|     400|              0.0|        0.0|      -1.28|      1445|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|FRZN MEAT/MEAT DI...|FRZN SS PREMIUM E...|        1230|National|               11 OZ|
|         2052|26985246477|  1|   1026209|       2|       3.82|     400|              0.0|        0.0|      -2.56|      1445|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|FRZN MEAT/MEAT DI...|FRZN SS PREMIUM E...|        1230|National|               12 OZ|
|         2052|26985246477|  1|   1134472|       1|       1.91|     400|              0.0|        0.0|      -1.28|      1445|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|FRZN MEAT/MEAT DI...|FRZN SS PREMIUM E...|        1230|National|             10.7 OZ|
|         2052|26985246477|  1|   6391267|       1|       2.99|     400|              0.0|        0.0|       -1.7|      1445|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|FRZN NOVELTIES/WT...|       ADULT PREMIUM|        1807|National|                6 CT|
|         2052|26985246477|  1|   9419268|       1|       1.73|     400|              0.0|        0.0|      -1.16|      1445|      1|    null|               null|       null|          null|         null|               null|             null|     GROCERY|FRZN MEAT/MEAT DI...|FRZN SS PREMIUM E...|        1807|National|             10.6 OZ|
|         2483|26992197681|  1|   3843566|       2|        5.0|    2602|              0.0|        0.0|      -0.98|      1823|      1|   45-54|                  B|     75-99K|     Homeowner|  Single Male|                  1|     None/Unknown|VIDEO RENTAL|             UNKNOWN|       VIDEO RENTALS|           2|National|                    |
|         2305|26996870743|  2|    823862|       1|       4.59|     414|              0.0|        0.0|       -0.4|      1300|      1|   45-54|                  B|     50-74K|     Homeowner|Single Female|                  1|     None/Unknown|        DELI|     CHICKEN/POULTRY|CHIX: ROTISSERIE ...|          69| Private|                    |
|         2305|26996870743|  2|    859610|       2|       9.44|     414|              0.0|        0.0|        0.0|      1300|      1|   45-54|                  B|     50-74K|     Homeowner|Single Female|                  1|     None/Unknown|        MEAT|                BEEF|GRND/PATTY - SIRL...|        3665|National|                    |
+-------------+-----------+---+----------+--------+-----------+--------+-----------------+-----------+-----------+----------+-------+--------+-------------------+-----------+--------------+-------------+-------------------+-----------------+------------+--------------------+--------------------+------------+--------+--------------------+
only showing top 20 rows

In [10]:
transactions.count()

2595732

In [11]:
transactions.columns

['HOUSEHOLD_KEY',
 'BASKET_ID',
 'DAY',
 'PRODUCT_ID',
 'QUANTITY',
 'SALES_VALUE',
 'STORE_ID',
 'COUPON_MATCH_DISC',
 'COUPON_DISC',
 'RETAIL_DISC',
 'TRANS_TIME',
 'WEEK_NO',
 'AGE_DESC',
 'MARITAL_STATUS_CODE',
 'INCOME_DESC',
 'HOMEOWNER_DESC',
 'HH_COMP_DESC',
 'HOUSEHOLD_SIZE_DESC',
 'KID_CATEGORY_DESC',
 'DEPARTMENT',
 'COMMODITY_DESC',
 'SUB_COMMODITY_DESC',
 'MANUFACTURER',
 'BRAND',
 'CURR_SIZE_OF_PRODUCT']

Check to see how many individual households in data

In [12]:
transactions.select('HOUSEHOLD_KEY').distinct().count()

2500

Get scores for all records

In [13]:
all_scores = transactions.groupBy('HOUSEHOLD_KEY').agg(func.max("DAY").alias('recency'),
                                                   func.countDistinct("BASKET_ID").alias('frequency'),
                                                   func.floor(func.sum("SALES_VALUE")).alias("monetary_value")
                                                  ).orderBy('recency', ascending=False).orderBy('frequency', ascending=False).orderBy('monetary_value', ascending=False)

In [14]:
all_scores.show()

+-------------+-------+---------+--------------+
|HOUSEHOLD_KEY|recency|frequency|monetary_value|
+-------------+-------+---------+--------------+
|         1023|    710|      603|         38319|
|         1609|    711|      412|         27859|
|         2322|    711|      323|         23646|
|         1453|    710|      761|         21661|
|         2459|    704|      971|         20671|
|         1430|    711|      344|         20352|
|          718|    707|      599|         19299|
|          707|    711|      498|         19194|
|         1653|    710|      541|         19153|
|         1111|    707|      321|         18894|
|          982|    710|      412|         18790|
|          400|    711|      310|         18494|
|         1229|    711|      385|         18304|
|         1975|    710|      363|         17548|
|          328|    708|      239|         17332|
|         1527|    710|      321|         17295|
|         1489|    710|      536|         17251|
|         2284|    710|      265|         17152|
|         2264|    710|      315|         16960|
|         1864|    710|      164|         16941|
+-------------+-------+---------+--------------+
only showing top 20 rows

Dump all scores to csv

In [51]:
all_scores.coalesce(1).write.option("header", True).csv('hdfs://sandbox.hortonworks.com:8020/tmp/all_scores')

Filter data down to homeowners only

In [21]:
howner_transactions = transactions.filter(transactions['HOMEOWNER_DESC']=="Homeowner")

In [22]:
howner_transactions.count()

925441

Calculate scores for homeowners only

In [23]:
howner_scores = howner_transactions.groupBy('HOUSEHOLD_KEY').agg(func.max("DAY").alias('recency'),
                                                   func.countDistinct("BASKET_ID").alias('frequency'),
                                                   func.floor(func.sum("SALES_VALUE")).alias("monetary_value")
                                                  ).orderBy('recency', ascending=False).orderBy('frequency', ascending=False).orderBy('monetary_value', ascending=False)

In [24]:
howner_scores.show()

+-------------+-------+---------+--------------+
|HOUSEHOLD_KEY|recency|frequency|monetary_value|
+-------------+-------+---------+--------------+
|         1609|    711|      412|         27859|
|         2322|    711|      323|         23646|
|         1453|    710|      761|         21661|
|         1430|    711|      344|         20352|
|          718|    707|      599|         19299|
|          707|    711|      498|         19194|
|         1653|    710|      541|         19153|
|          400|    711|      310|         18494|
|         1229|    711|      385|         18304|
|         1527|    710|      321|         17295|
|         2284|    710|      265|         17152|
|         2264|    710|      315|         16960|
|         1864|    710|      164|         16941|
|         2351|    708|      322|         16616|
|          900|    711|     1223|         16450|
|          371|    711|      161|         15716|
|         1762|    711|      344|         15360|
|          113|    709|      223|         15324|
|         1142|    710|      284|         15178|
|         1475|    710|      339|         14855|
+-------------+-------+---------+--------------+
only showing top 20 rows

In [25]:
howner_scores.coalesce(1).write.option("header", True).csv('hdfs://sandbox.hortonworks.com:8020/tmp/howner_scores')

## Bonus 1.

Filter out all alchohol sales

In [26]:
no_alcohol = transactions.filter(transactions['DEPARTMENT'] != "SPIRITS")

In [27]:
no_alcohol.count()

2593613

Not that many were removed, let's just make sure they are not there

In [29]:
no_alcohol.select('DEPARTMENT').distinct().show()

+---------------+
|     DEPARTMENT|
+---------------+
|TRAVEL & LEISUR|
|      KIOSK-GAS|
|      COSMETICS|
|  POSTAL CENTER|
|           MEAT|
| COUP/STR & MFG|
|      NUTRITION|
|           PORK|
|        PRODUCE|
| PROD-WHS SALES|
|     AUTOMOTIVE|
|  SEAFOOD-PCKGD|
|   VIDEO RENTAL|
|     MEAT-PCKGD|
|     GRO BAKERY|
|CHARITABLE CONT|
|           TOYS|
| DELI/SNACK BAR|
|CNTRL/STORE SUP|
|  GARDEN CENTER|
+---------------+
only showing top 20 rows

Calculate scores

In [30]:
no_alcohol_scores = no_alcohol.groupBy('HOUSEHOLD_KEY').agg(func.max("DAY").alias('recency'),
                                                   func.countDistinct("BASKET_ID").alias('frequency'),
                                                   func.floor(func.sum("SALES_VALUE")).alias("monetary_value")
                                                  ).orderBy('recency', ascending=False).orderBy('frequency', ascending=False).orderBy('monetary_value', ascending=False)

In [31]:
no_alcohol_scores.show()

+-------------+-------+---------+--------------+
|HOUSEHOLD_KEY|recency|frequency|monetary_value|
+-------------+-------+---------+--------------+
|         1023|    710|      603|         38269|
|         1609|    711|      412|         27859|
|         2322|    711|      323|         23573|
|         1453|    710|      761|         21653|
|         2459|    704|      971|         20671|
|         1430|    711|      344|         20352|
|          718|    707|      599|         19299|
|         1653|    710|      541|         19153|
|         1111|    707|      321|         18816|
|          982|    710|      412|         18790|
|          707|    711|      498|         18749|
|          400|    711|      310|         18494|
|         1229|    711|      385|         18300|
|         1975|    710|      363|         17479|
|          328|    708|      239|         17327|
|         1489|    710|      536|         17251|
|         1527|    710|      321|         17221|
|         2284|    710|      265|         17144|
|         2264|    710|      315|         16952|
|         1864|    710|      164|         16937|
+-------------+-------+---------+--------------+
only showing top 20 rows

In [32]:
no_alcohol_scores.coalesce(1).write.option("header", True).csv('hdfs://sandbox.hortonworks.com:8020/tmp/noalcohol_scores')

## Bonus 2.

Calculate quantiles for given splits

In [33]:
recency_quantiles = all_scores.stat.approxQuantile("recency", [0.00,0.33,0.66,1.00], 0)

In [34]:
frequency_quantiles = all_scores.stat.approxQuantile("frequency", [0.00,0.33,0.66,1.00], 0)

In [35]:
monetary_quantiles = all_scores.stat.approxQuantile("monetary_value", [0.00,0.33,0.66,1.00], 0)

In [36]:
recency_quantiles

[54.0, 697.0, 708.0, 711.0]

In [37]:
frequency_quantiles

[1.0, 49.0, 115.0, 1300.0]

In [38]:
monetary_quantiles

[8.0, 1274.0, 3273.0, 38319.0]

Convert integers to Doubles so that we can us the ML bucketizer

In [39]:
all_scores_cast = all_scores.withColumn('recency_dbl', all_scores.recency.cast(DoubleType())).withColumn('frequency_dbl', all_scores.frequency.cast(DoubleType())).withColumn('monetary_value_dbl', all_scores.monetary_value.cast(DoubleType()))

Iterate through dataframes and bucketize each column of interest to have one final data frame with scores

In [42]:
r_scored = Bucketizer(splits=recency_quantiles, inputCol="recency_dbl",outputCol="r_score").transform(all_scores_cast)

In [43]:
f_scored = Bucketizer(splits=frequency_quantiles, inputCol="frequency_dbl",outputCol="f_score").transform(r_scored)

In [44]:
all_quantile_scored = Bucketizer(splits=monetary_quantiles, inputCol="monetary_value_dbl",outputCol="m_score").transform(f_scored)

In [45]:
all_quantile_scored.show()

+-------------+-------+---------+--------------+-----------+-------------+------------------+-------+-------+-------+
|HOUSEHOLD_KEY|recency|frequency|monetary_value|recency_dbl|frequency_dbl|monetary_value_dbl|r_score|f_score|m_score|
+-------------+-------+---------+--------------+-----------+-------------+------------------+-------+-------+-------+
|         1023|    710|      603|         38319|      710.0|        603.0|           38319.0|    2.0|    2.0|    2.0|
|         1609|    711|      412|         27859|      711.0|        412.0|           27859.0|    2.0|    2.0|    2.0|
|         2322|    711|      323|         23646|      711.0|        323.0|           23646.0|    2.0|    2.0|    2.0|
|         1453|    710|      761|         21661|      710.0|        761.0|           21661.0|    2.0|    2.0|    2.0|
|         2459|    704|      971|         20671|      704.0|        971.0|           20671.0|    1.0|    2.0|    2.0|
|         1430|    711|      344|         20352|      711.0|        344.0|           20352.0|    2.0|    2.0|    2.0|
|          718|    707|      599|         19299|      707.0|        599.0|           19299.0|    1.0|    2.0|    2.0|
|          707|    711|      498|         19194|      711.0|        498.0|           19194.0|    2.0|    2.0|    2.0|
|         1653|    710|      541|         19153|      710.0|        541.0|           19153.0|    2.0|    2.0|    2.0|
|         1111|    707|      321|         18894|      707.0|        321.0|           18894.0|    1.0|    2.0|    2.0|
|          982|    710|      412|         18790|      710.0|        412.0|           18790.0|    2.0|    2.0|    2.0|
|          400|    711|      310|         18494|      711.0|        310.0|           18494.0|    2.0|    2.0|    2.0|
|         1229|    711|      385|         18304|      711.0|        385.0|           18304.0|    2.0|    2.0|    2.0|
|         1975|    710|      363|         17548|      710.0|        363.0|           17548.0|    2.0|    2.0|    2.0|
|          328|    708|      239|         17332|      708.0|        239.0|           17332.0|    2.0|    2.0|    2.0|
|         1527|    710|      321|         17295|      710.0|        321.0|           17295.0|    2.0|    2.0|    2.0|
|         1489|    710|      536|         17251|      710.0|        536.0|           17251.0|    2.0|    2.0|    2.0|
|         2284|    710|      265|         17152|      710.0|        265.0|           17152.0|    2.0|    2.0|    2.0|
|         2264|    710|      315|         16960|      710.0|        315.0|           16960.0|    2.0|    2.0|    2.0|
|         1864|    710|      164|         16941|      710.0|        164.0|           16941.0|    2.0|    2.0|    2.0|
+-------------+-------+---------+--------------+-----------+-------------+------------------+-------+-------+-------+
only showing top 20 rows

And let's then only get the customers with the top score in all scored columns

In [46]:
top_customers = all_quantile_scored.where((all_quantile_scored.r_score == 2) & 
                                         (all_quantile_scored.f_score == 2) & 
                                         (all_quantile_scored.m_score == 2))

In [47]:
top_customers.count()

427

In [49]:
top_customers.show()

+-------------+-------+---------+--------------+-----------+-------------+------------------+-------+-------+-------+
|HOUSEHOLD_KEY|recency|frequency|monetary_value|recency_dbl|frequency_dbl|monetary_value_dbl|r_score|f_score|m_score|
+-------------+-------+---------+--------------+-----------+-------------+------------------+-------+-------+-------+
|         1023|    710|      603|         38319|      710.0|        603.0|           38319.0|    2.0|    2.0|    2.0|
|         1609|    711|      412|         27859|      711.0|        412.0|           27859.0|    2.0|    2.0|    2.0|
|         2322|    711|      323|         23646|      711.0|        323.0|           23646.0|    2.0|    2.0|    2.0|
|         1453|    710|      761|         21661|      710.0|        761.0|           21661.0|    2.0|    2.0|    2.0|
|         1430|    711|      344|         20352|      711.0|        344.0|           20352.0|    2.0|    2.0|    2.0|
|          707|    711|      498|         19194|      711.0|        498.0|           19194.0|    2.0|    2.0|    2.0|
|         1653|    710|      541|         19153|      710.0|        541.0|           19153.0|    2.0|    2.0|    2.0|
|          982|    710|      412|         18790|      710.0|        412.0|           18790.0|    2.0|    2.0|    2.0|
|          400|    711|      310|         18494|      711.0|        310.0|           18494.0|    2.0|    2.0|    2.0|
|         1229|    711|      385|         18304|      711.0|        385.0|           18304.0|    2.0|    2.0|    2.0|
|         1975|    710|      363|         17548|      710.0|        363.0|           17548.0|    2.0|    2.0|    2.0|
|          328|    708|      239|         17332|      708.0|        239.0|           17332.0|    2.0|    2.0|    2.0|
|         1527|    710|      321|         17295|      710.0|        321.0|           17295.0|    2.0|    2.0|    2.0|
|         1489|    710|      536|         17251|      710.0|        536.0|           17251.0|    2.0|    2.0|    2.0|
|         2284|    710|      265|         17152|      710.0|        265.0|           17152.0|    2.0|    2.0|    2.0|
|         2264|    710|      315|         16960|      710.0|        315.0|           16960.0|    2.0|    2.0|    2.0|
|         1864|    710|      164|         16941|      710.0|        164.0|           16941.0|    2.0|    2.0|    2.0|
|         2351|    708|      322|         16616|      708.0|        322.0|           16616.0|    2.0|    2.0|    2.0|
|          900|    711|     1223|         16450|      711.0|       1223.0|           16450.0|    2.0|    2.0|    2.0|
|          371|    711|      161|         15716|      711.0|        161.0|           15716.0|    2.0|    2.0|    2.0|
+-------------+-------+---------+--------------+-----------+-------------+------------------+-------+-------+-------+
only showing top 20 rows

In [50]:
top_customers.coalesce(1).write.option("header", True).csv('hdfs://sandbox.hortonworks.com:8020/tmp/top_customers')